@page "/experience"
@using dotnetPersonalSiteStatic.Data

<div class="container">
    <h1>Experience</h1>

    @if (Companies == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (Company company in Companies)
        {
            <div class="container company">
                @if (company.Logo != null)
                {
                    <img src="@company.Logo" alt="@company.Name">
                }
                else
                {
                    <h2>@company.Name</h2>
                }

                <div class="container role">
                    @foreach (Role role in company.Roles)
                    {
                        <div class="row">
                            <div class="col-sm-7">
                                <h3>@role.Title</h3>
                            </div>
                            <div class="col-sm-5 right-nav-section">
                                <h3>@role.StartDateString - @role.EndDateString</h3>
                            </div>
                        </div>
                        <div class="row">
                            <ul>
                                @foreach (string experience in role.Experience)
                                {
                                    <li>@experience</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>

@code {
    List<Company> Companies = new List<Company>();

    // TODO: make this a database call
    protected async override Task OnInitializedAsync()
    {
        //*******************//
        //      Wayfair      //
        //*******************//

        List<Role> wayfairRoles = new List<Role>();

        // Role - Security Technology Risk
        List<string> strExperience = new List<string>();
        strExperience.Add("Lead business process mapping exercise with stakeholders to map data flows, identify improvments, and build OKRs.");
        strExperience.Add("Building ETL pipelines (Python, C#, and SQL) to aggregate data in Google Cloud Platform.");
        strExperience.Add("Creating and maintaining Google Data Studio Dashboards for leaders to monitor and manage team performance.");

        Role STR = new Role
        {
            Title = "Senior Data Analyst, Security Technology Risk",
            StartDateString = "August 2020",
            EndDateString = "Present",
            Experience = strExperience
        };

        wayfairRoles.Add(STR);

        // Role - Data Integration
        List<string> diExperience = new List<string>();
        diExperience.Add("Lead data analyst on a multi-platform system integration.");
        diExperience.Add("Documented stakeholders' current process, validated legacy data, and provided new system requirements to engineering team.");
        diExperience.Add("Built reporting to monitor new system integrity and assisted stakeholders in switching legacy reporting to new data warehouse using SQL and Python.");

        Role DI = new Role
        {
            Title = "Senior Data Analyst, Data Integrity",
            StartDateString = "September 2019",
            EndDateString = "August 2020",
            Experience = diExperience
        };

        wayfairRoles.Add(DI);

        // Role - Data Governance
        List<string> dgExperience = new List<string>();
        dgExperience.Add("Gathered requirements for 8 data points required for product storage, transportation, and delivery. Resulted in $4M annual cost savings.");
        dgExperience.Add("•	Partnered with Finance to centralize storage for shipping invoice data and develop a model to predict future costs resulting in a 54% increase in costing prediction accuracy. Project yielded $8 million saving annually.");

        Role DG = new Role
        {
            Title = "Data Analyst, Data Governance",
            StartDateString = "July 2018",
            EndDateString = "September 2019",
            Experience = dgExperience
        };

        wayfairRoles.Add(DG);

        // Wayfair creation
        Company Wayfair = new Company {
            Name = "Wayfair",
            Logo = "https://dm2305files.storage.live.com/y4mRxH4MYWZs9uVzKP3yMyPX8njLIkcdZHnrRdwCXk891NzLJXp3fuhtDl7rlu1zUEnCw4tIFc5N1_zQ9p6RMnBJ2aFuhe3zOxzTRdAXbbhBgM2LX314QjKpL2QbQqWFV2wtlA3AuMkqUpf0FTyGJibHSH1vjqrUC3lZUjIXXE0EGmH-4sUAR2PxcK_0BBiXh0p?width=256&height=60&cropmode=none",
            Roles = wayfairRoles
        };

        Companies.Add(Wayfair);

        //*******************//
        //       Cree        //
        //*******************//

        List<Role> creeRoles = new List<Role>();

        // Role - Business Analyst
        List<string> baExperience =  new List<string>();
        baExperience.Add("Led Racine facility’s Lean initiative.  Responsible for working with stakeholders to improve team metrics and costs.");
        baExperience.Add("Example projects include a just-in-time packaging inventory system which reduced inventory by $1M and a Kanban system linking finishing and assembly departments that reduced lead time by 30%. ");
        baExperience.Add("Build SQL reports during implantation of Oracle ERP system.");
        baExperience.Add("Conducted training sessions for Value Stream Mapping, Transactional Process Improvement, 6S, 8D Problem Solving, and Risk Residual Reduction (R3) programs.");

        Role BA = new Role
        {
            Title = "Data Analyst II, Operations",
            StartDateString = "January 2016",
            EndDateString = "July 2018",
            Experience = baExperience
        };

        creeRoles.Add(BA);

        // Cree creation
        Company Cree = new Company
        {
            Name = "Cree",
            Logo = "https://dm2305files.storage.live.com/y4m1AGjRjwmDhtaq-UaP5LEBUEpkrOQeiADdSJ4bUZsoBR-NcCw6ZLEksIMIfZSRh5EGqztCzQGwWpICyftf1bK3f033P4LTalvBIwws7jvpg7om4qJoZ7TurPVwoE98XSKmtSnArBNVtipcWqYHf4ZPGakRZjUuUVLFm2Vt9BNg9DndgGgQsItSjfeqO_oAMBw?width=256&height=75&cropmode=none",
            Roles = creeRoles
        };

        Companies.Add(Cree);
    }
}
